.chat-div {
    width: 30vw;
    height: 81vh;
    background-color: white;
    margin: auto;
    border-radius: 25px;
    background-color: blue;
}

.header {
    height: 10vh;
    display: flex;
}

.profile-image {
    width: 8vh;
    height: 8vh;
    border-radius: 4vh;
    border: solid 2px yellow;
    margin-top: 5px;
    margin-left: auto;
    margin-right: 5px;
}

.profile-name {
    font-size: 40px;
    margin-right: auto;
    margin-left: 5px;
    margin-top: 15px;
    color: yellow;
}

.body {
    height: 60vh;
    overflow-y: auto;
    background-color: aliceblue;
}

.footer {
    height: 10vh;
    padding-top: 5px;
    margin: auto;
    display: flex;
}

.footer-text-input {
    width: 80%;
    height: 80%;
    border-width: 2px;
    border-radius: 10px;
    border-color: blue;
    resize: none;
    margin-inline: auto;
    margin-top: 0px;
}

.footer-send-button {
    font-size: 30px;
    padding: 10px;
    border-radius: 60px;
    border: solid;
    margin: auto;
    color: yellow;
}