.chat-div {
    width: 90vw;
    height: 81vh;
    background-color: white;
    margin: auto;
    border-radius: 25px;
    background-color: rgb(40, 40, 40);
    margin-top: 20px;
}

.header {
    height: 10vh;
    display: flex;
}

.profile-image {
    width: 8vh;
    height: 8vh;
    border-radius: 4vh;
    border: solid 2px #DAA900;
    margin-top: 5px;
    margin-left: auto;
    margin-right: 5px;
}

.profile-name {
    font-size: 40px;
    margin-right: auto;
    margin-left: 5px;
    margin-top: 15px;
    color: #DAA900;
}

.body {
    height: 68vh;
    overflow-y: auto;
    background-color: rgb(43, 43, 43);
     --rad: 20px;
  --rad-sm: 3px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: auto;
}

.body::-webkit-scrollbar {
    display: none;
}

.footer {
    height: 10vh;
    padding-top: 5px;
    margin: auto;
    display: flex;
}

.footer-text-input {
    width: 80%;
    height: 80%;
    border-width: 2px;
    border-radius: 10px;
    border-color: blue;
    resize: none;
    margin-inline: auto;
    margin-top: 0px;
}

.footer-send-button {
    padding: 10px;
    margin-top: 5px;
    margin-right: 0;
    color: #DAA900;
    font-weight: bold;
}

.footer-send-button-first {
    padding: 10px;
    margin-left: auto;
    margin-top: 5px;
    color: #DAA900;
        font-weight: bold;
}

.button-85 {
    padding: 0.6em 1em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 350px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 350;
    width: 90vw;
    height: 90vh;
}

.button-85:before {
    content: "";
    background: linear-gradient(45deg,
            #DAA900,
            #DAA900,
            #0F2D52,
            #0F2D52,
            #DAA900,
            #DAA900,
            #0F2D52,
            #0F2D52,
            #DAA900);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.dropdown {
    background: none;
    font-size: larger;
    color: #DAA900;
    border: none;
}