.search-inner {
  margin: 10px;
}

input[type=text] {
  transition: width 1.4s ease-in-out;
  width: 200px;
  height: 50px;
  font-size: 20px;
  background-color: rgb(209, 226, 253);
  border: solid black 2px;
  border-radius: 10px;
}

input[type=text]:focus {
  width: 90%;
  outline: none;
}


/* .search-button {
  background-color: #2b6ab8;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
} */

.dropdown div {
  margin-inline: auto;
}

.dropdown-header {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  padding: 5px;
  width: 600px;
}

.nickname {
  font-size: large;
  font-weight: 600;
  width: 100px;
}

.location {
  font-size: large;
  font-weight: 600;
  width: 200px;
}

.hours {
  font-size: large;
  font-weight: 600;
  width: 100px;
}

.days {
  font-size: large;
  font-weight: 600;
  width: 100px;
}

button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.bi {
  font-size: 26px;
  margin-right: 10px;
}